.header{
    background-color: #ff4e50;
    height: 150px;
    max-width: 100%;
}
img.bn{
    position: absolute;
    margin: auto;
    text-align: center;
    width: 300px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.back{
    background-color: #F16272;
    height: 150px;
}